@page "/Prestamos/Cobro/Delete/{CobroId:int}"
@using LiamellCruz_Ap1_P1.Models
@using LiamellCruz_Ap1_P1.Service
@inject CobroService cobroService
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<PageTitle>Delete</PageTitle>
<div class="container">
    <div class="card shadow-lg">
        @*header*@
        <div class="card-header text-center">
            <h5><strong>Datos del cobro</strong></h5>
        </div>
        @*body*@
        <div class="card-body">
            <div class="text-center">
                <h5><strong>Desea eliminar el cobro?</strong></h5>
            </div>
            <ul>
                <li><strong>CobroId: </strong>@Cobros.CobroId</li>
                <li><strong>Fecha: </strong>@Cobros.Fecha</li>
                <li><strong>DeudorId: </strong>@Cobros.Deudor.DeudorId</li>
                <li><strong>Deudor: </strong>@Cobros.Deudor.Nombres</li>
                <li><strong>Monto: $</strong>@Cobros.Monto</li>
            </ul>
            <div class="border border-success p-2 mt-2">
                <h7><strong>Detalles de cobro</strong></h7>
                <div>
                    @foreach (var detalle in Cobros.CobroDetalle)
                    {
                        <li class="mt-2">
                            Préstamo ID: @detalle.PrestamoId, Valor Cobrado: @detalle.ValorCobrado
                        </li>
                    }
                </div>
            </div>
        </div>
        @*Footer*@
        <div class="card-footer text-center">
            <a href="/Prestamos/Cobro/Index" class="btn btn-primary"> <span class="bi bi-arrow-left"></span> Volver</a>
            <button type="button" class="btn btn-danger bi bi-trash" @onclick="Eliminar"> Eliminar</button>
        </div>
    </div>
</div>

@code {
	[Parameter]

	public int CobroId { get; set; }
	public Cobros Cobros { get; set; } = new Cobros();
	public string Mensaje { get; set; } = string.Empty;


	protected override async Task OnInitializedAsync()
	{
		Cobros = await cobroService.Buscar(CobroId);
	}

	private async Task Eliminar()
	{
		var eliminado = await cobroService.Eliminar(CobroId);

		if (eliminado)
			Mensaje = "El Cobro ha sido eliminado correctamente";
		else

			Mensaje = "No se ha podido eliminar el Cobro";

	}



}
