@page "/Prestamos/Cobros/Details{CobroId:int}"
@using LiamellCruz_Ap1_P1.Models
@using LiamellCruz_Ap1_P1.Service
@inject CobroService cobroService
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<PageTitle>Details</PageTitle>
<div class="container">
    <div class="card shadow-lg">
        @*Header*@
        <div class="card-header text-center">
            <h5><strong>Datos del Cobro</strong></h5>
        </div>
        @*body*@
        <div class="card-body">
            <ul>
                <li><strong>CobroId: </strong>@Cobro.CobroId</li>
                <li><strong>Fecha: </strong>@Cobro.Fecha</li>
                <li><strong>DeudorId: </strong>@Cobro.Deudor.DeudorId</li>
                <li><strong>Deudor: </strong>@Cobro.Deudor.Nombres</li>
                <li><strong>Monto: $</strong>@Cobro.Monto</li>
            </ul>
            <div class="border border-success p-2 mt-2">
                <h7><strong>Detalles de cobro</strong></h7>
                <div>
                    @foreach (var detalle in Cobro.CobroDetalle)
                    {
                        <li class="mt-2">
                            Préstamo ID: @detalle.PrestamoId, Valor Cobrado: @detalle.ValorCobrado
                        </li>
                    }
                </div>
            </div>
        </div>
        @*Footer*@
        <div class="card-footer text-center">
            <a href="/Prestamos/Cobro/Index" class="btn btn-primary"> <span class="bi bi-arrow-left"></span> Volver</a>
        </div>
    </div>
</div>


@code {

    [Parameter]
    public int CobroId { get; set; }

    public Cobros Cobro { get; set; } = new Cobros();

    protected override async Task OnInitializedAsync()
    {
        Cobro = await cobroService.Buscar(CobroId);
    }

}
